<table width="100%">
    <tr>
        <td width="50%"></td>
        <td width="50%" align="right"></td>
    </tr>
</table>
<table width="100%">
    <tr>
        <td align="center">
            <a href="/"><img src="images/intensives_logo.png" alt="АС 'Интенсив'" height="95" width="400" border="0"/></a>
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="/methodist"><img src="/images/methodist_cab_btn.png" alt="Кабинет методиста" border="0" /></a>
            <a href="/teacher"><img src="/images/teacher_cab_btn.png" alt="Кабинет преподавателя" border="0" /></a>
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="http://vstu.ru/"><img src="images/vstu_logo.png" alt="ВолгГТУ" height="95" width="210" border="0"/></a>
        </td>
    </tr>
    <tr>
        <td style="background-color: cadetblue; color: white; text-align: center;">
            Авторские права &copy; Кафедра ПОАС 2010-<?php echo date('Y') ?>
        </td>
    </tr>
</table>
