<?php echo $this->doctype(); ?>
<html>
    <head>
        <?php echo $this->headTitle(); ?>

        <?php echo $this->headMeta(); ?>

        <?php echo $this->headLink(); ?>

        <?php echo $this->headStyle(); ?>

        <?php echo $this->headScript(); ?>

    </head>
    <body>
<?php echo $this->layout()->content; ?>
    </body>
</html>
