.error_icon {
    background: url(../images/icons/error.png) no-repeat;
}
.information_icon {
    background: url(../images/icons/information.png) no-repeat;
}
.question_icon {
    background: url(../images/icons/question.png) no-repeat;
}
.warning_icon {
    background: url(../images/icons/warning.png) no-repeat;
}

